<!DOCTYPE html>
<html>

<head>
  <title>Cmsruby1</title>
  <%= csrf_meta_tags %>
	
  <style>
	body {
		background: #eef
	}
  </style>	

</head>

<body>

	<header>
		<%= render template: "_nav" %>
	</header>

	<main>
		<%= yield %>	
	</main>	

	<footer>
		
	</footer>
</body>

</html>
